@font-face {
    font-family: 'Inner-Medium';
    src: url('../assets/fonts/Inter-Medium.woff');
}

@font-face {
    font-family: 'Inner-Regular';
    src: url('../assets/fonts/Inter-Regular.woff');
}

* {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

h1 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 40px;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
}

h2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 35px;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
}

h3 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 35px;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
    /* padding-top: 55px; */
    padding-bottom: 20px;
}

h4 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 15px;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
    font-weight: bold;
}

h5 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 15px;
    text-align: center;
    max-width: 442px;
    margin: 0 auto;
    font-weight: 400;
    padding-bottom: 45px;
}


/* h6{

} */

p {
    font-size: 15px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    max-width: 450px;
}

span {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 12px;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

input, label{
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
}

/* label{

} */

a,
a:hover {
    text-decoration: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-size: 12px;
}


/* CLASSES RECURRENTES */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.horizontal-list {
    display: inline;
}

.coloured-background {
    background: #FAFBFC;
}

.paddings-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

*:disabled {
    opacity: .5;
}


/* @media (min-width: 1200px){ */

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}


/* } */

.bluebuttons {
    margin-right: 8px;
    background: rgba(3, 102, 214);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.whitebuttons {
    margin-left: 8px;
    background: #ffffff;
    border: #0B6BD7 1px solid;
    color: #0B6BD7;
    padding: 10px;
    border-radius: 5px;
}