@font-face{
    font-family: 'Inner-Medium';
    src: url('../assets/fonts/Inter-Medium.woff');
}
@font-face{
    font-family: 'Inner-Regular';
    src: url('../assets/fonts/Inter-Regular.woff');
}

/* @media (min-width: 1200px){ */
    .container{
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
    }
/* } */


h1{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 35px;
}

h2{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 24px;
}

h3{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
}

h4{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 18px;
}

h5{

}

h6{

}

p, li{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 12px;
}

label{

}
a, a:hover {
 text-decoration: none;  
}
