header {
    color: hsla(0,0%,100%,.6);
    /* background: url("../assets/header/simple-codelines.svg"); */
    background-size: cover;
    background-position: center 10%;
    /* height: 500px; */
    width: 100%;
    background: url(../assets/header/simple-codelines.svg),#2b3137;
}
header div.container{
    height: 520px;
}

header div.container>div{
    max-width: 439px;
    margin: 0 auto;
}

header a {
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 3px 10px;
    border: #3393FF 5px solid;
    border-radius: 20px;
    background: rgba(21, 102, 194, 0.7);
}