.topbar{
    background-color: #24292e;
    /* height: 25px;
    width: 100%; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
}

.topbar .logo-topbar{
    height: 50px;
}

.topbar li{
    display:inline;
    color: white;
}