.topbar {
    background-color: #24292e;
    /* height: 25px;
    width: 100%; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 80px;
    word-spacing: 20px;
}

.topbar .logo-topbar {
    height: 50px;
}

.topbar ul {
    margin: 1em 0;
}

.topbar a {
    color: white;
}


/* .topbar div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
} */

.burger-menu-container div {
    width: 22px;
    height: 2px;
    background-color: white;
}

.burger-menu-container a div:nth-child(2) {
    margin: 5px 0;
}

.burger-menu-container {
    padding: 0 20 0 20px;
}
.portfolio-card.d-flex.flex-column {
    margin: auto;
    padding: 20px 20px 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portfolio-cards-container.d-flex {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }