.topbar {
    background-color: #24292e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 80px;
    word-spacing: 20px;
}

.topbar .logo-topbar {
    height: 50px;
}

.topbar ul {
    margin: 1em 0;
}

.topbar a {
    color: white;
}

.burger-menu-container div {
    width: 22px;
    height: 2px;
    background-color: white;
}

.burger-menu-container a div:nth-child(2) {
    margin: 5px 0;
}

.burger-menu-container {
    padding: 0 20 0 20px;
}
.portfolio-card img {
    height: 230px; 
} 
.right-side form{
    display: block;
    margin-left: auto;
    padding-top: 40px;
    margin-right: auto;
    width: 50%;
}
.portfolio-card{
    padding: 10px;
}
.newsletter-subscription{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.newsletter-subscription-updates{
    width: 160px;
}

.newsletter-subscription form{
    float: right;
}