/* FEATURES SECTION */
.features-section{
    background: #FAFBFC;
}

.features-section .main-image{
    width: 510px;
    margin: 0 auto;
}

.features-section>div{
    padding-top: 90px;
}

.features-section .main-image{
    padding-bottom: 90px;
}

.features-section>div h2, .features-section>div h4 {
    margin-bottom: 30px;
}

/* FEATURES CONTAINER */
.features-section .features-container{
    flex-wrap: wrap;
}

.features-section .features-container div{
    width: 50%;
}

.features-container img{
    border-radius: 100%;
}




/* FOOTER */
footer .lower{
    background: #FAFBFC;
    padding-top: 24px;
    padding-bottom: 24px;
}

footer .lower span{
    margin-top: 9px;
}

footer .lower .rrss svg{
    color: #959da5;
    margin-right: 16px!important;
}
