/* NAVBAR */

.topbar {
    background-color: #24292e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 80px;
}

.topbar .logo-topbar {
    height: 40px;
}

.topbar ul {
    margin: 1em 0;
}

.topbar a {
    color: white;
    margin-right: 10px;
}

.burger-menu-container div {
    width: 22px;
    height: 2px;
    background-color: white;
}

.burger-menu-container a div:nth-child(2) {
    margin: 5px 0;
}

.burger-menu-container {
    padding: 0 20px 0 20px;
}


/* HEADER */

header {
    color: hsla(0, 0%, 100%, .6);
    /* background: url("../assets/header/simple-codelines.svg"); */
    background-size: cover;
    background-position: center 10%;
    /* height: 500px; */
    width: 100%;
    background: url(../assets/header/simple-codelines.svg), #2b3137;
}

header h1 {
    color: white;
}

header div.container {
    height: 520px;
}

header div.container>div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header a {
    position: relative;
    text-align: center;
    margin: 5px 0 0;
    border-radius: 0.3em;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 1.0em 1.7em;
    color: white;
}


/* FEATURES SECTION */

.features-section .main-image {
    width: 510px;
    margin: 0 auto;
}

.features-section>div h2,
.features-section>div h4 {
    margin-bottom: 30px;
}


/* FEATURES CONTAINER */

.features-section .features-container {
    flex-wrap: wrap;
}

.features-section .features-container .feature {
    width: 50%;
    padding-left: 30px;
}

.features-container .image-container {
    height: 100px;
}

.features-container .image-container img {
    width: 100%;
    border-radius: 100%;
}

.feature .info-container {
    padding-left: 30px;
}

.features-container {
    max-width: 1000px;
    margin: 0 auto;
}


/* PORTFOLIO SECTION */

.portfolio-section nav {
    text-align: center;
}

.portfolio-cards-container {
    flex-wrap: wrap;
}

.portfolio-section .portfolio-navbar {
    margin: 0 0 30px 0;
}

.portfolio-section .portfolio-navbar ul li a {
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.portfolio-section .portfolio-navbar ul li a:hover {
    text-decoration: underline;
}

.portfolio-section .portfolio-navbar ul li:not(:first-child):not(:last-child) {
    margin: 0 10px;
}

.portfolio-section .portfolio-card {
    width: 33%;
    padding: 10px;
}

.portfolio-section .portfolio-card {
    width: 33%;
    padding: 10px;
}

.portfolio-section .portfolio-card img {
    height: 230px;
    border-radius: 5px;
}

.portfolio-section .portfolio-card strong {
    margin: 10px 0;
}


/* PRICING & TESTIMONIAL */

.pricing-testimonial-section {
    background: #FAFBFC;
}

.pricing-testimonial-section .element {
    width: 33%;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 30px;
}

.pricing-testimonial-section .element:nth-child(2) {
    margin: 0 30px;
}

.pricing-testimonial-section .element .main-card-img {
    border-radius: 100%;
    width: 110px;
    margin: 0 auto 30px auto;
}

.pricing-testimonial-section .element p,
.pricing-testimonial-section .element strong,
.pricing-testimonial-section .element span {
    text-align: center;
}

.pricing-testimonial-section .element .element-info img {
    height: 20px;
}

.pricing-testimonial-section .element .element-info {
    padding-left: 50px;
    margin: 5px 0;
}

.pricing-testimonial-section .element .element-info:first-of-type {
    margin-top: 30px;
}

.pricing-testimonial-section .element a {
    width: 83px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}


/* NEWSLETTER SUBSCRIPTION */

.newsletter-subscription {
    padding: 0 90px;
}

.newsletter-subscription-updates strong {
    font-size: 35px;
}

.newsletter-subscription-updates span {
    font-size: 22px;
}

.newsletter-subscription form input[type="email"] {
    width: 240px;
    height: 30px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid #dee2e6;
    margin-right: 10px;
}

.newsletter-subscription form input[type="submit"] {
    border-radius: 20px;
    padding-left: 10px;
    width: 80px;
}


/* BRANDS CAROUSEL */

.brands-carousel {
    padding: 90px 0;
}

.brands-carousel img {
    height: 35px;
    margin: 10px 20px;
}


/* CONTACT */

.contact .side {
    width: 50%;
}

.contact .left-side li {
    font-size: 15px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    max-width: width 196px;
    ;
}

.contact .left-side ul {
    padding-left: 0;
}

.contact .left-side ul li img{
    width: 20px;
    margin-right: 5px;
}

.contact .right-side label {
    display: block;
    padding-bottom: 4px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 11px;
}

.contact .right-side input {
    padding-bottom: 4px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    border: 1.5px solid grey;
    width: 420px;
}


/* UPPER FOOTER */

footer .upper-footer li {
    padding: 10px;
    width: 25%;
    text-align: center;
}

footer .upper-footer ul {
    flex-wrap: wrap;
    height: 170px;
}


/* LOWER FOOTER */

footer .lower-footer {
    padding-top: 24px;
    padding-bottom: 24px;
}

footer .lowlower-footer span {
    margin-top: 9px;
}

footer .lower-footer .rrss svg {
    color: #959da5;
    margin-right: 16px!important;
}