/* FEATURES SECTION */
.features-section .main-image{
    width: 510px;
    margin: 0 auto;
}

.features-section>div{
    padding-top: 90px;
}

.features-section .main-image{
    padding-bottom: 90px;
}

.features-section>div h2, .features-section>div h4 {
    margin-bottom: 30px;
}

/* FEATURES CONTAINER */
.features-section .features-container{
    flex-wrap: wrap;
}

.features-section .features-container div{
    width: 50%;
}

.features-container img{
    border-radius: 100%;
}



/* PORTFOLIO SECTION */
.portfolio-section{
    padding: 90px 0;
}

.portfolio-section nav{
    text-align: center;
}

.portfolio-cards-container{
    flex-wrap: wrap;
}

.portfolio-section .portfolio-card{
    width: 33%;
}

.portfolio-section .portfolio-card img{
    width: 100%;
}


/* PRICING & TESTIMONIAL */
.pricing-testimonial-section{
    background: #FAFBFC;
}

.pricing-testimonial-section .element{
    width: 33%;
}

.pricing-testimonial-section .element .main-card-img{
    border-radius: 100%;
    width: 180px;
    margin: 0 auto;
}

.brands-carousel img{
    height: 35px;
    margin: 10px 20px;
}


/* CONTACT */
.contact .side{
    width: 50%;
}





/* FOOTER */
footer .lower{
    padding-top: 24px;
    padding-bottom: 24px;
}

footer .lower span{
    margin-top: 9px;
}

footer .lower .rrss svg{
    color: #959da5;
    margin-right: 16px!important;
}
